<div class="row">

  <div class="small-8 column">
    <h5>New Answer</h5>

    <%= form_for [@question, @answer] do |f| %>
      <% f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit "Submit" %>
    <%- end -%>
  </div>
</div>
